
  .container{
    margin: auto;
    padding-bottom: 3%;
}

.container .header{
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

@media (max-width: 800px) {
  .container .header {
      justify-content: space-between;
  }
}

.container .header h2{
  color: white;
  float: left;
  flex: 80%;
  justify-content: flex-start;
}

.container .header a{
  float: right;
  flex: 20%;
  justify-content: flex-end;
  padding: 1%;
  font-size: larger;
  background-color: rgb(66, 24, 24);
      border: rgb(66, 24, 24);
      color:aliceblue;
}

.container .header a:hover{
  background-color:rgb(223, 99, 99);
    border-bottom: 5px solid rgb(37, 23, 4);
    color:rgb(0, 0, 0);
    font-weight: 600;
    transition: all 0.5s ease;
}

.container .table thead tr th{
  padding:  1% 1.5% 1% 1.5%;
  text-align: center;
}

.container .table tbody tr td{
  padding: 1% 1.5% 1% 1.5%;
  text-align: center;
}

.container .table .action{
  display: flex;
  justify-content: space-around;
}

.container .table .action a{
  background: none;
  border: none;
  color: darkred;
  text-decoration: underline;
}

.container .table .action a:hover{
  color: rgb(55, 42, 170);
  font-weight: 700;
  transition: all 0.5s ease;
}